{% extends "base.html" %}
{% block title %}Employee Ticket Hub{% endblock%}
{%block content%} 

<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}"/>
<!----
Hub for Employees to view all unclaimed tickets. 
Displays a list of all tickets in our database that do not have a uidEmployee assigned.

TODO:
    - show all tickets unclaimed that relate to a department rather than all unclaimed.
-->
<h1 style="text-align: center;">Unclaimed Tickets</h1>
<div id="ticketSection">
    <div id="ticketContainer">
        <ul class="list-group list-group-flush"  id="tickets">
            {% for ticket in tickets %}
                <li class = "list-group-item" style="border-radius: 5px;">
                    <div class="row">
                        <div class="column" style="width:90%" id="ticketLeft">
                            <p style="margin-bottom:1px;"><b>{{ ticket.ticketType }}</b></p>
                            <p style="font-size:13px; color:grey; margin-top:1px;" name="ticketID" id="ticketID">{{ticket.ticketID}}</p>
                            {{ ticket.ticketComments }}
                        </div> 
                        <div class="column" style="width:9%" >
                            {% if ticket.Status == 'Active' %}
                            <p style="text-align: right; color: #e60012;">
                            {% elif ticket.Status == 'Pending' %}
                            <p style="text-align: right; color: #ffd700;">
                            {% elif ticket.Status == 'Complete' %}
                            <p style="text-align: right; color: #019a66;">
                            {% else %}
                            <p>
                            {% endif %}
                            {{ ticket.Status }}</p>
                            <form method="POST">
                                <button align="right" type="submit" class="btn btn-primary">Take</button>
                            </form>
                        </div>
                    </div>
                </li>
                <br/>
            {% endfor %}
    </div>
</div>
<br/>
{% endblock %}





