{% extends "base.html" %}
{% block title %}Home{% endblock%}
{%block content%} 
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}"/>
<!----- Should this be the central hub for all users whenever they log in?
Shows all tickets + create new ticket field
what else?
-->

<!-- ---------- MAIN CONTENT ---------- -->
<div class="mainContent" style="box-shadow: 50px 0px 300px #EEEEEE; margin-bottom: 5px; margin-left: 20%; margin-right: 20%; background-color:white; display: flex; min-height: 650px;">
    <!-- ---------- RIGHT SIDEBAR ---------- -->
    <div class="rightSideBar" style="width: 25%; min-height: 650px; background-color: #04354d;" id="userPane">
        <h4 style="padding-top: 30px; padding-bottom: 10px; text-align: center; color:white;">Welcome, {{ user.firstName }}</h4>
        <div id="accordion">
            <div class="card">
                <div id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="color:white;">
                            Profile
                        </button>
                        <button class="btn" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="text-align: center; color:white;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-expand" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M3.646 9.146a.5.5 0 0 1 .708 0L8 12.793l3.646-3.647a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 0-.708zm0-2.292a.5.5 0 0 0 .708 0L8 3.207l3.646 3.647a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708z"/>
                            </svg>
                        </button>
                    </h5>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <p>Section 1!</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="color:white;">
                        Settings
                        </button>
                        <button class="btn" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" style="text-align: center; color:white;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-expand" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M3.646 9.146a.5.5 0 0 1 .708 0L8 12.793l3.646-3.647a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 0-.708zm0-2.292a.5.5 0 0 0 .708 0L8 3.207l3.646 3.647a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708z"/>
                            </svg>
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        <p>Section 2!</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="color:white;">
                        ?????
                        </button>
                        <button class="btn" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree" align="right" style="color:white;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-expand" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M3.646 9.146a.5.5 0 0 1 .708 0L8 12.793l3.646-3.647a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 0-.708zm0-2.292a.5.5 0 0 0 .708 0L8 3.207l3.646 3.647a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708z"/>
                            </svg>
                        </button>
                    </h5>
                </div>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    <p>Contact Help Desk</p>
                </div>
            </div>
        </div>
    </div>
    <!-- ---------- CENTER PT.1 | NEW TICKET ---------- -->
    <div style="padding-top: 30px; width: 55%;">
        <h5 style="padding-left: 20px; text-align: left; color: #04354d;">Tickets</h5>
        <!-- ---------- NEW TICKET PT.1 | DROP DOWN MENUS ---------- -->
        <div style="background-color: transparent; height: 280px;" id="createSection">
            <div id="createContainer">
                <p style="color:black; text-align: center;">New Ticket</p>
                <form method="POST">
                    <input type="hidden" name="createTicket">
                    <p style="width: 100%; float: left; color: black;">Ticket Type
                        <select name="ticketType" id="ticketType" style="width:80%; float: right;">
                            <option>PeopleSoft Password Reset</option>
                            <option>SuperSession Password Reset</option>
                            <option>VPN Pin Reset</option>
                            <option>VPN Assignment</option>
                            <option>Track-it Reports</option>
                            <option>Kronos Access</option>
                            <option>Map Drive</option>
                            <option>Software installation</option>
                            <option>URL Allow List</option>
                            <option>New Email Account</option>
                            <option>Mailbox Access - Access/ Removal</option>
                            <option>MFA</option>
                            <option>GAL</option>
                            <option>Email Domain - Allow/Deny Request</option>
                            <option>Phishing Attempt</option>
                        </select>
                    </p>
                    <p style="text-align: left; width: 100%; float: left; color: black;">Department
                        <select name="ticketDept" id="ticketDept" style="width: 80%; float: right;">
                            <option>Help Desk</option>
                            <option>Enterprise System HRMS</option>
                            <option>Network & Endpoint Services</option>
                            <option>Enterprise Infrastructure</option>
                            <option>NES Enterprise Administrators</option>
                        </select>
                    </p>
                    <!-- ---------- NEW TICKET PT.2 | DESCRIPTION & SUBMIT ---------- -->
                    <textarea style="height: 100px; margin-bottom: 10px;" name ="ticketComments" id="ticketComments" class="form-control" placeholder="Enter Description..."></textarea>
                    <button style="float: right; border: #04354d; background-color: #04354d;" type = "submit" class="btn btn-primary">Create Ticket</button>
                </form>
            </div>
        </div>
        <!-- ---------- CENTER PT.2 | EXISTING TICKETS ---------- -->
        <div style="background-color: transparent;" id="ticketSection">
            <p style="color:black; text-align: center;">Existing Ticket</p>
            <div style="background-color: #04354d; padding: 5px;" id="ticketContainer">
                <ul class="list-group list-group-flush"  id="tickets">
                    {% for ticket in user.tickets %}
                        <li class="list-group-item" style="border-radius: 5px;">
                            <!-- ---------- EXISTING TICKETS | INDIVIDUAL TICKET ---------- -->
                            <div style="margin: 2px;" class="row">
                                <div style="width: 80%;" id="ticketLeft">
                                    <p style="background-color: transparent; float: left; width: 8%; font-size:13px; color:grey; margin-top:1px;" name="ticketID" id="ticketID">{{ticket.ticketID}}</p>
                                    <p style="background-color: transparent; font-weight: 600; float: left; width: 70%; margin-bottom:1px;">{{ ticket.ticketType }}</p>
                                    <br><br>
                                    <p style="float: left;">{{ ticket.ticketComments }}</p>
                                </div> 
                                <div style="background-color: transparent; width: 20%" >
                                    {% if ticket.Status == 'Active' %}
                                    <p style="text-align: right; color: #e60012;">
                                    {% elif ticket.Status == 'Pending' %}
                                    <p style="text-align: right; color: #ffd700;">
                                    {% elif ticket.Status == 'Complete' %}
                                    <p style="text-align: right; color: #019a66;">
                                    {% else %}
                                    <p>
                                    {% endif %}
                                    {{ ticket.Status }}</p>
                                    <button type="button" class="close" onClick="delete_ticket({ticket.ticketID})">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                                        </svg>
                                    </button>
                                    <form method="POST">
                                        <input type="hidden" name="changeStatus" id="changeStatus">
                                        <input type="hidden" name="ticketID" id="ticketID" value="{{ticket.ticketID}}">
                                        <select name="status" id="status">
                                            <option>Active</option>
                                            <option>Pending</option>
                                            <option>Complete</option>
                                        </select>
                                        <div style="margin-top: 2px;">
                                            <button style="float: left; border: #04354d; background-color: #04354d;" type = "submit" class="btn btn-primary">Update</button>
                                        </div>
                                        <button style="float: right;" type="button" class="close" onClick="delete_ticket({{ticket.ticketID}})">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                                            </svg>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </li>
                        <br/>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <!-- ---------- LEFT SIDEBAR ---------- -->
    <div class="leftSideBar" style="width: 20%; height: 100%; background-color: transparent; font-family: arial; font-size: 13px; padding: 20px 0px 35px 20px;">
        <h5 style="font-size: bold;">Contact Us</h5>
        <p style="color: #2F6B3E; font-weight: bold;">Marc Shorr</p>
        <p>Chief Information Officer</p>
        <a style="color: #2F6B3E;" href="emailto:Marc.Shorr@doit.cccounty.us">Email Marc Shorr</a><br><br>
        <p style="color: #2F6B3E; font-weight: bold;">Information Technology</p>
        <p style="font-weight: bold;">Physical Address</p>
        <form action="">
            <button src="images/location-pin.png" alt="location pin" width="15" height="15">View Map
                <input type="hidden" name="location" value="" />
            </button>
        </form>
        <p>30 Douglas Drive</p>
        <p>Martinez, CA 94553</p><br>
        <a style="color: #2F6B3E;" href="">Directions</a><br>
        <p>Phone: (925) 313-1200</p>
        <p>Fax: (925) 313-1459</p>
        <p>Phone: 925-313-1200</p><br>
        <p style="color: #2F6B3E; font-weight: bold;">Hours</p>
        <p>Monday through Friday</p>
        <p>8 a.m. to 5 p.m.</p>
        <a href="">Directory</a>
    </div>
</div>
{%endblock%}