#createSection {
    padding-bottom: 5px;
    padding-top: 10px;
    background-color:#04354d;
}

#createContainer {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left:2%;
    margin-right:2%;
}

#ticketType {
    margin-bottom: 10px;
    border-radius: 3px;
}
#ticketSection {
    padding-bottom: 5px;
    padding-top: 10px;
    background-color:#04354d;
}

#ticketContainer {
    margin-top: 5px;
    margin-left:2%;
    margin-right:2%;
}

#ticketPane {
    margin-left:5%;
    width:73%;
    background-color: transparent;
    margin-right:5%;
}

#collapseable {
    background-color: transparent;
}

.card {
    background-color: transparent;
    color:white;
}